<div class="container">
    <div class="row row-cols-1 row-cols-md-6 g-2" *ngIf="moviesSearched$ | async as moviesSearched">
      <div class="col" *ngFor="let movie of moviesSearched; let i = index">
        <div class="text-center position-relative">
          <div [routerLink]="['/detail', movie.imdbID]" style="cursor: pointer;">
            <img [src]="movie.poster ? movie.poster : 'assets/icon.png'" class="img-fluid rounded custom-img" [alt]="movie.title">
            <div class="mt-2 text-center">
              <small class="text-light font-monospace">{{ movie.title }}</small>
            </div>
          </div>
          <i [ngClass]="{'bi-bookmark-fill': isFav(movie.imdbID), 'bi-bookmark': !isFav(movie.imdbID)}"
             class="bi position-absolute bookmark-icon"
             (click)="toggleFav(movie.imdbID)">
          </i>
      </div>
    </div>
  </div>
</div>
  
  
